<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta letras</title>
</head>
<body>
    <ol>
        <li><a href="/">principal</a></li>
        <li><a href="/potencia/4/2/">Potencia</a></li>
        <li><a href="/libros/">Libros</a></li>
    </ol>
    <h1>Cuenta letras</h1>
    <a id="text">{{aparece}}</a>
</body>
</html>

<style>

h1 {
text-align: center;
}

#text {
text-align: center;
font-size: 220%;
}

</style>