<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
</head>
<body>
    <ol>
        <li><a href="/">principal</a></li>
        <li><a href="/cuenta/prueba/p/">Cuenta letras</a></li>
        <li><a href="/potencia/4/2/">Potencia</a></li>
    </ol>
    <h1>Libros</h1>
    <p>Nombre del libro: {{nombre}}</p>
    <p>Autor del libro: {{autor}}</p>
</body>
</html>

<style>

    h1 {
    text-align: center;
    }
    
   p {
    text-align: center;
    font-size: 320%;
    }
    
    </style>