<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal</title>
</head>
<body>
    <h1>Primera página dinámica con flask</h1>
    <h2>Felipe</h2>
    <ol>
        <li><a href="/potencia/4/2/">Potencia</a></li>
        <li><a href="/cuenta/prueba/p/">Cuenta letras</a></li>
        <li><a href="/libro/123/">Libros</a></li>
    </ol>
</body>
</html>
